<div class="container-fluid d-flex p-0">
    <div class="background">
        <img [src]="backgroundImage" class="w-100">
    </div>
    <div *ngIf="displayTextIndex !== 1 && displayTextIndex !== 2 && displayTextIndex !== 3" class="content w-100 h-100 row m-0">
        <div class="col-md-8 col-sm-12 p-md-5">
            <div class="tab d-inline-block">
                <p class="m-0 p-2 px-3 text-white">Use Cases</p>
                <div class="d-flex w-100">
                    <div class="borderBottomRed"></div>
                    <div class="borderBottomWhite"></div>
                </div>
            </div>
            <div class="title my-4 text-white text-justify">
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="topTextLayer h-100 row m-0">
        <div *ngIf="displayTextIndex == 1" class="rightText col-md-4 col-sm-12 h-100 p-0 animated fadeInDown">
            <div class="opacity p-5">
                <div class="text1 my-3 text-justify text-white">
                </div>
            </div>
        </div>
        <div *ngIf="displayTextIndex !== 1" class="col-md-4 col-sm-12 h-100 p-0 d-none d-md-block"></div>

        <div *ngIf="displayTextIndex == 2" class="rightText col-md-4 col-sm-12 h-100 p-0 animated fadeInDown">
            <div class="opacity p-5">
                <div class="text2 my-3 text-justify text-white">
                </div>
            </div>
        </div>
        <div *ngIf="displayTextIndex !== 2" class="col-md-4 col-sm-12 h-100 p-0 d-none d-md-block"></div>

        <div *ngIf="displayTextIndex == 3" class="rightText col-md-4 col-sm-12 h-100 p-0 animated fadeInDown">
            <div class="opacity p-5">
                <div class="text3 my-3 text-justify text-white">
                </div>
            </div>
        </div>
        <div *ngIf="displayTextIndex !== 3" class="col-md-4 col-sm-12 h-100 p-0 d-none d-md-block"></div>

    </div>
    <div class="NumberMarkDiv">
        <div class="row m-0">
            <div class="col d-flex justify-content-center">
                <button *ngIf="displayTextIndex !== 1" class="numberMark px-3 bgOrange rounded-lg border-0 text-white font-weight-bold" (click)="convertText(1)">1</button>
            </div>
            <div class="col d-flex justify-content-center">
                <button *ngIf="displayTextIndex !== 2" class="numberMark px-3 bgOrange rounded-lg border-0 text-white font-weight-bold" (click)="convertText(2)">2</button>
            </div>
            <div class="col d-flex justify-content-center">
                <button *ngIf="displayTextIndex !== 3" class="numberMark px-3 bgOrange rounded-lg border-0 text-white font-weight-bold" (click)="convertText(3)">3</button>
            </div>
        </div>
    </div>
</div>