<div class="container-fluid d-flex p-0">
    <div class="background">
        <img src="assets/bgImgs/chiffresBg.png">
    </div>
    <div class="content text-white h-100 w-100">
        <div class="tab d-inline-block">
            <p class="m-0 p-2 px-3 text-white">Strategie</p>
            <div class="d-flex w-100">
                <div class="borderBottomRed"></div>
                <div class="borderBottomWhite"></div>
            </div>
        </div>
        <div class="titleBox row m-0">
            <div class="title col-12 p-0">
                <p class="float-left bgGray px-2 m-0">
                    Lorem ipsum dolor
                </p>
            </div>
            <div class="title2 col-12 p-0">
                <p class="float-left bgGray px-2 m-0">
                    ipsum dolor
                </p>
            </div>
        </div>
        <div class="triIcon d-flex justify-content-center">
            <p>test</p>
        </div>
    </div>

</div>