<div class="container-fluid d-flex p-0">
    <div class="background">
        <img [src]="backgroundImage" class="w-100">
    </div>
    <div class="content text-white h-100 w-100">
        <div class="tab d-inline-block">
            <p class="m-0 p-2 px-3 text-white"> Strategie </p>
            <div class="d-flex w-100">
                <div class="borderBottomRed"></div>
                <div class="borderBottomWhite"></div>
            </div>
        </div>
        <div class="titleBox row m-0">
            <div class="title col-12 p-0 bgGray" [innerHTML]="content.title">
            </div>
            <div class="title2 col-12 p-0 bgGray" [innerHTML]="content.subTitle">
            </div>
        </div>
        <div class="">
            <div class="playMark bgOrange d-table rounded p-2">
                <div class="customPlayIcon"></div>
            </div>
        </div>
    </div>

</div>