<div class="container-fluid d-flex">
    <div class="contentMP my-5 w-75 mx-auto">
        <div class="name font-weight-bold"></div>
        <div class="d-inline-block">
            <hr class="m-1">
            <div class="title"></div>
            <hr class="m-1">
        </div>
        <div class="text my-3"></div>
        <!-- <div class="my-3 text-justify">
            <h1 class="wrapText textRed font-weight-bold float-left m-0 mr-2">L</h1>
            Lorem
        </div> -->
    </div>
</div>