<div class="container-fluid p-0">
    <div class="layout w-100 px-5">
        <img class="w-100" [src]="image">
    </div>
    <div class="layout row m-0 p-4">
        <div class="col-md-6 col-sm-12 px-5" [innerHTML]="content.text1">
            <!-- <p class="title text-justify pl-4">
                In the future, successful business models in banking will be determined by intelligent use of technology
                and a deep understanding of business processes.
            </p> -->
        </div>
        <div class="col-md-6 col-sm-12 p-0"></div>
        <div class="col-md-6 col-sm-12 p-5">
            <div [innerHTML]="content.text2"></div>
            <div [innerHTML]="content.domain"></div>
            <!-- <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut
                aliquip ex ea commodo consequat.
            </p> -->
            <!-- <p class="domain font-weight-bold mt-5">finnova.com</p> -->
        </div>
        <div class="FooterMargin col-md-6 col-sm-12 p-5">
            <div [innerHTML]="content.text3"></div>
            <!-- <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut
                aliquip ex ea commodo consequat.
            </p> -->
            <img class="float-right" [src]="logo">
        </div>
    </div>
</div>