<div class="container-fluid p-0">
    <div class="layout w-100 px-5">
        <img class="w-100" [src]="image">
    </div>
    <div class="layout row m-0 p-4">
        <div class="text1 col-md-6 col-sm-12 px-5">
        </div>
        <div class="col-md-6 col-sm-12 p-0"></div>
        <div class="col-md-6 col-sm-12 p-5">
            <div class="text2"></div>
            <div class="domain"></div>
        </div>
        <div class="FooterMargin col-md-6 col-sm-12 p-5">
            <div class="text3"></div>
            <img class="float-right" [src]="logo">
        </div>
    </div>
</div>