<div class="container-fluid p-0">
    <div class="content w-100 h-100">
        <div class="row m-0">
            <div class="tab d-inline-block">
                <p class="m-0 p-2 px-3 text-white">Impressum</p>
                <div class="d-flex w-100">
                    <div class="borderBottomRed"></div>
                    <div class="borderBottomWhite"></div>
                </div>
            </div>
        </div>
        <div class="row mx-md-3 h-100">
            <div class="col-md-3 col-sm-12">
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="text-white" [innerHTML]="content">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 mb-5">
                <img class="w-100" [src]="logo">
            </div>
        </div>
    </div>
</div>