<div class="container-fluid d-flex p-0">
    <div class="background">
        <img [src]="backgroundImage" class="w-100">
    </div>
    <div class="content m-md-5 p-md-3 px-md-5">
        <div class="tab d-inline-block">
            <p class="m-0 p-2 px-3 text-white">Reperes</p>
            <div class="d-flex w-100">
                <div class="borderBottomRed"></div>
                <div class="borderBottomWhite"></div>
            </div>
        </div>
        <div class="space"></div>

        <div *ngIf="openStatus == 0" class="card p-0 text-white">
            <div class="m-4" [innerHTML]="content.title">
                <!-- <h1>Lorem ipsum dolor</h1>
                <h2>ipsum dolor</h2> -->
            </div>
            <hr class="bg-white m-0">
            <div class="m-4">
                <div class="description p-1" [innerHTML]="content.text">
                    <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. -->
                </div>
            </div>
            <div class="cardFooter bg-white text-dark p-3 py-2 d-flex justify-content-center align-items-center">
                <h4 class="m-0">Dans ce dossier...</h4>
                <button class="plus font-weight-bold p-0 border-0" (click)="changeStatus(1)">+</button>
            </div>
        </div>

        <div *ngIf="openStatus == 1" class="card p-0 text-white">
            <div class="mx-4 mt-4">
                <h2>Dans ce dossier...</h2>
                <div class="m-4">
                    <hr class="bg-white">
                    <p>Title of the first sub-page article with link...</p>
                    <hr class="bg-white">
                    <p>Title of the second sub-page article with link...</p>
                    <hr class="bg-white">
                    <p>Title of the third sub-page article with link...</p>
                    <hr class="bg-white">
                    <p>Title of the fourth sub-page article with link...</p>
                    <hr class="bg-white">
                </div>
            </div>
            <div class="cardFooter text-dark p-3 pb-4 d-flex justify-content-center align-items-center">
                <button class="plus p-0 border-0 text-white" (click)="changeStatus(0)">x</button>
            </div>
        </div>
    </div>
</div>