.background {
    img {
        max-width: 100%;
        max-height: 100vh;
        display: block;
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: auto;
    }
}

.content {
    position: absolute;
    padding: 8em !important;
    padding-left: 10em !important;

    .tab {
        font-size: 2em;
        background-color: rgba($color: black, $alpha: .5);

        .borderBottomRed {
            width: 40%;
            border-bottom: 4px solid red;
        }

        .borderBottomWhite {
            width: 60%;
            border-bottom: 4px solid white;
        }
    }

    .carousel {
        position: absolute;
        bottom: 280px;
        width: 25%;
    }

    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        padding: 1em !important;

        .carousel {
            bottom: 280px;
            width: 90%;
        }
    }
}
