<div class="container-fluid d-flex p-0">
    <div class="background">
        <img src="assets/bgImgs/portfolioBg.png">
    </div>
    <div class="content w-100 h-100">
        <div class="tab d-inline-block">
            <p class="m-0 p-2 px-3 text-white">En images</p>
            <div class="d-flex w-100">
                <div class="borderBottomRed"></div>
                <div class="borderBottomWhite"></div>
            </div>
        </div>
        <div id="myCarosel" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators m-0">
                <li data-target="#myCarosel" data-slide-to="0" class="active">+</li>
                <li data-target="#myCarosel" data-slide-to="1">+</li>
                <li data-target="#myCarosel" data-slide-to="2">+</li>
            </ul>
            <div class="carousel-inner text-white">
                <div class="carousel-item active" data-interval="2000">
                    <div class="">
                        <h1>Lorem ipsum dolor</h1>
                        <h2>ipsum dolor</h2>
                    </div>
                    <p class="mt-5 mb-3">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="carousel-item">
                    <div class="">
                        <h1>Lorem ipsum dolor</h1>
                        <h2>ipsum dolor</h2>
                    </div>
                    <p class="mt-5 mb-3">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="carousel-item">
                    <div class="">
                        <h1>Lorem ipsum dolor</h1>
                        <h2>ipsum dolor</h2>
                    </div>
                    <p class="mt-5 mb-3">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
            <!-- <a class="carousel-control-prev" href="#myCarosel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarosel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a> -->
        </div>
    </div>
</div>