.background {
    img {
        max-width: 100%;
        max-height: 100vh;
        display: block;
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: auto;
    }
}

.content {
    position: absolute;
    padding: 8em !important;
    padding-left: 10em !important;

    .tab {
        font-size: 2em;
        background-color: #666666;

        .borderBottomRed {
            width: 40%;
            border-bottom: 4px solid red;
        }

        .borderBottomWhite {
            width: 60%;
            border-bottom: 4px solid white;
        }
    }

    .txtCarosel {
        position: absolute;
        bottom: 280px;
        width: 30%;
    }
}