<div class="container-fluid d-flex p-0">
    <div id="myCarosel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner text-white">
            <ul class="carousel-indicators m-0">
                <li data-target="#myCarosel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarosel" data-slide-to="1"></li>
                <li data-target="#myCarosel" data-slide-to="2"></li>
            </ul>
            <div class="carousel-item" *ngFor="let content of contents; let i = index;" data-interval="5000" [ngClass]="{ 'active': i === 0 }" #carouselEl>
                <img [src]="content.backgroundImage" class="w-100">
                <div class="carousel-caption d-none d-block text-left">
                    <div class="title"></div>
                    <div class="description"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab d-inline-block">
        <p class="m-0 p-2 px-3 text-white">En images</p>
        <div class="d-flex w-100">
            <div class="borderBottomRed"></div>
            <div class="borderBottomWhite"></div>
        </div>
    </div>
</div>