.textRed {
    color: red;
}

.wrapText {
    font-size: 3.8em;
}

.footerMargin {
    margin-bottom: 60px !important;
}

@media only screen and (max-width: 600px) {
    .contentMP {
        width: 100% !important;
        padding: 16px !important;
        margin: 0 !important;
        margin-bottom: 58px !important;
    }
}