<div class="container-fluid p-5">
    <div class="row h-100 m-0">
        <div class="col-md-6 col-sm-12 p-md-5 p-sm-0">
            <img src="assets/images/newlogo_BF2020.png">
            <br>
            <img class="logoFluid" src="assets/images/logo.jpg">
            <div class="description w-50">
                <div class="my-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    ut
                    aliquip ex ea commodo consequat.
                </div>
                <div class="my-3">
                    ing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    ut
                    aliquip ex ea commodo consequat.
                </div>
            </div>
            <div class="socialLinkGroup d-flex align-items-center">
                <div class="col-md-12">
                    <!-- <a href="#">
                        <img src="">
                    </a> -->
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 p-5">
            <div class="p-5">
                <img class="w-100" src="assets/images/1-cover_v2.png">
                <p>#00 - JUNE 2020</p>
                <div class="row">
                    <div class="col-6">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>