<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="leftPanel w-100 col-md-5 col-sm-12 py-5 pl-md-5 pl-sm-4 overflow-auto">
            <div class="m-md-3 ml-md-5 mr-md-0 m-sm-0">
                <div class="p-3">
                    <div class="tab pt-2 pb-2 pr-4 pl-4 text-white d-inline-block">
                        CURRENCY WAR
                    </div>
                    <div class="hr"></div>
                    <div class="mt-5 pt-3">
                        <hr class="m-1">
                        <div class="title"></div>
                        <hr class="m-1">
                    </div>
                    <div class="text my-3">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-sm-12 p-4">
            <button class="playMark bgOrange d-table rounded border-0 p-2" (click)="next()">
                <div class="customPlayIcon"></div>
            </button>
        </div>

        <div *ngIf="rightPanelSlideNumber == 0" class="media col-md-6 col-sm-12 p-0 w-100 maxHeight">
        </div>

        <div *ngIf="rightPanelSlideNumber == 1" class="col-md-6 col-sm-12 p-5 bgOrange w-100 maxHeight">
            <div class="rightText m-md-3 mx-md-5 m-sm-0">
            </div>
        </div>
    </div>
</div>