<div class="container-fluid d-flex">
    <div class="row">
        <div class="leftPanel col-xl-6 col-lg-4 col-md-4 col-sm-12 p-0 m-0">
            <div class="m-0">
                <img class="w-100" [src]="content.image">
            </div>
        </div>
        <div class="rightPanel col-xl-6 col-lg-8 col-md-8 col-sm-12 overflow-auto">
            <div class="contentMP my-5 w-75 mx-auto">
                <div class="bgGray pt-2 pb-2 pr-4 pl-4 text-white font-weight-bold d-inline-block">
                    INTERVIEW
                </div>
                <div class="hr"></div>
                <div class="d-inline-block" [innerHTML]="content.title">
                </div>
                <hr class="m-1">
                <div class="my-3" [innerHTML]="content.text">
                </div>
            </div>
        </div>
    </div>
</div>