<div class="container-fluid d-flex">
    <div class="row">
        <div class="col-md-4 col-sm-12 p-0 mt-5 d-none d-md-block">
            <div class="mt-4" [innerHTML]="content.media"></div>
        </div>

        <div class="col-md-8 col-sm-12">
            <div class="contentMP my-5 w-75 mx-auto">
                <div class="font-weight-bold e2e-inner-html-bound" [innerHTML]="content.name"></div>
                <div class="d-inline-block">
                    <hr class="m-1">
                    <div [innerHTML]="content.title"></div>
                    <hr class="m-1">
                </div>
                <div class="my-3" [innerHTML]="content.text"></div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 p-0 mt-5 d-md-none d-sm-block">
            <div class="mt-4" [innerHTML]="content.media"></div>
        </div>
    </div>
</div>