/* You can add global styles to this file, and also import other style files */

.bgOrange {
    background-color: #ff7200;
}

.bgGray {
    background-color: #434542;
}

.bgRed {
    background-color: red;
}

.icon {
    width: 36px;
}

h1 {
    font-size: 53px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 25px;
}