<div class="footer pos-f-t">
    <div #tref class="collapse" id="navbarToggleExternalContent">
        <div class="bg-light p-4">
            <div class="mobileNavHeader myNavigation">
                <div class="d-flex justify-content-end">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">X</button>
                </div>
                <div class="logo"> {{ title }} </div>
            </div>
            <div class="row myNavigation">
                <div *ngFor="let page of pages; let i = index;" class="col-xl-3 col-md-6 col-sm-12">
                    <div class="card m-3" (click)="gotoPage(i)" data-toggle="collapse" data-target="#navbarToggleExternalContent">
                        <div data-toggle="tooltip" data-placement="top" [title]="page.description" class="row no-gutters">
                            <div class="col-4 bg-white d-flex align-items-center">
                                <img *ngIf="page.coverImage" class="w-100" [src]="page.coverImage">
                            </div>
                            <div class="col-8">
                                <div class="card-body p-2">
                                    <h5 class="m-0 card-text text-left text-dark text-truncate">
                                        {{ page.name }}
                                    </h5>
                                    <p class="m-0 card-text text-left text-dark text-truncate">
                                        {{ page.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="collapse" id="navbarFooterIconToggle">
        <p>test</p>
    </div> -->
    <nav class="navbar navbar-light bg-light p-0">
        <div class="footerLogo d-flex justify-content-start">
            <div class="logo"> {{ title }} </div>
        </div>
        <div class="footer-center d-flex justify-content-center">
            <button class="navbar-toggler p-1" (click)="prevIndex()">
                <img class="icon" src="assets/icons/left_chevron.svg">
            </button>
            <button class="navbar-toggler p-1" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <img class="icon" src="assets/icons/central_menu.png">
            </button>
            <button class="navbar-toggler p-1" (click)="nextIndex()">
                <img class="icon" src="assets/icons/right_chevron.svg">
            </button>
        </div>
        <div class="right d-flex justify-content-end">
            <div class="dropup mobileIcon">
                <button type="button" class="btn btn-primary m-2 customDromUpButton" data-toggle="dropdown">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right m-0 mb-2 p-0">
                    <li>
                        <div class="dropup">
                            <button class="navbar-toggler btn w-100 d-flex justify-content-around align-items-center" type="button" id="KioskDropUpButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <a href="http://d-mag.pro/SwissFinance.Tech/"><img class="retate90"
                                    src="https://img.icons8.com/material-rounded/24/000000/view-module.png" /></a>
                                <p class="m-0">Kiosk</p>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="KioskDropUpButton">
                                <img class="w-100 h-100" [src]="kiosqueImage">
                            </div>
                        </div>
                    </li>
                    <!-- <li>
                        <div class="dropup">
                            <button class="navbar-toggler btn w-100 d-flex justify-content-around align-items-center" type="button" id="socialSharingDropUpButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="https://img.icons8.com/material-outlined/24/000000/share.png" />
                                <p class="m-0">Share</p>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="socialSharingDropUpButton">
                                <div class="row w-100 m-0">
                                    <img class="col px-1 icon" src="assets/icons/facebook.svg">
                                    <img class="col px-1 icon" src="assets/icons/linkedin.svg">
                                    <img class="col px-1 icon" src="assets/icons/twitter.svg">
                                    <img class="col px-1 icon" src="assets/icons/youtube.svg">
                                    <img class="col px-1 icon" src="assets/icons/instagram.svg">
                                </div>
                            </div>
                        </div>
                    </li> -->
                </div>
            </div>
            <div class="webIcon d-flex">
                <div class="dropup">
                    <button class="navbar-toggler btn" type="button" id="KioskDropUpButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <a href="http://d-mag.pro/SwissFinance.Tech/"><img class="rotate90" src="https://img.icons8.com/material-rounded/24/000000/view-module.png" /></a>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="KioskDropUpButton">
                        <img class="w-100 h-100" [src]="kiosqueImage">
                    </div>
                </div>
                <!-- <div class="dropup">
                    <button class="navbar-toggler btn" type="button" id="socialSharingDropUpButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rotate360" src="https://img.icons8.com/material-outlined/24/000000/share.png" />
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="socialSharingDropUpButton">
                        <div class="row w-100 m-0">
                            <img class="col px-1 icon" src="assets/icons/facebook.svg">
                            <img class="col px-1 icon" src="assets/icons/linkedin.svg">
                            <img class="col px-1 icon" src="assets/icons/twitter.svg">
                            <img class="col px-1 icon" src="assets/icons/youtube.svg">
                            <img class="col px-1 icon" src="assets/icons/instagram.svg">
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </nav>
</div>